.content {
  padding: 3rem 3rem 1.5rem;
}

.main_content_card_welcome {
  max-width: 30em;
  height: 15em;
  padding: 1em;
  line-height: 3em;
  border: 0px !important;
  text-align: center !important;
  box-shadow: var(--bs-box-shadow) !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
}
